body{
  background: skyblue;
}


#card{
  
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly !important;
}

#home{
  display: flex;
  width: 1130px !important;
  height: auto;
  width: auto;
}